.notification-card {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.green {
  background-color: #8cc63f;
  color: white;
}

.orange {
  background-color: #ffa500;
  color: white;
}

.red {
  background-color: #ff5f5f;
  color: white;
}

button {
  margin-left: 8px;
  cursor: pointer;
}
