/* Estilos para el contenedor del logo */
.logo-container {
  flex: 1;
}

/* Estilos para el logo */
.logo {
  height: 50px; /* Ajustar el tamaño del logo según sea necesario */
}

/* Estilos para los botones de navegación */
.nav-buttons {
  display: flex;
  align-items: center;
}

/* Estilos para el menú desplegable de usuario */
.user-menu {
  margin-left: auto;
}

/* Estilos para el icono de usuario en el menú */
.user-menu button {
  color: white;
}
