<mat-toolbar color="primary">
  <!-- Logo -->
  <div class="logo-container">
    <img src="https://i.imgur.com/F8C0m7G.png" alt="Logo" class="logo" />
  </div>

  <div class="nav-buttons" *ngIf="isLoggedIn == true">
    <button mat-button routerLink="/inicio">INICIO</button>
    <button mat-button routerLink="/contacto">NUEVA RESERVA</button>
    <button mat-button routerLink="/contacto">MIS RESERVAS</button>
    <button mat-button routerLink="/productos">CONTACTO</button>
  </div>

  <div *ngIf="isAdmin">
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil">Consultar Hoteles</button>
      <button mat-menu-item routerLink="/perfil">Consultar Reservas</button>
      <button mat-menu-item routerLink="/perfil">Consultar Clientes</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="userMenu">ADMINISTRACIÓN</button>
  </div>

  <div *ngIf="!isLoggedIn">
    <button mat-button routerLink="/login">INICIAR SESIÓN</button>
  </div>
  <div *ngIf="isLoggedIn">
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil">MI PERFIL</button>
      <button mat-menu-item (click)="onLogout()" [routerLink]="['/login']">
        CERRAR SESIÓN
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
