<div class="full-page-container">
  <div class="contact-info-container">
    <div class="contact-info-card">
      <img
        class="profile-image"
        src="https://media.licdn.com/dms/image/C4D03AQFnzz2ChN3Mlw/profile-displayphoto-shrink_800_800/0/1634749811003?e=1695859200&v=beta&t=16SamE0_MNXtwaTdwWPZjeywFbI6or8nwLAhDrb5PEk"
        alt="Profile Picture"
      />
      <h2 class="name">Nicolas Osorio Galvis</h2>
      <p class="role">Desarrollador FullStack (muy junior)</p>
      <hr />
      <div class="contact-details">
        <p class="contact-item">
          <i class="fas fa-envelope"></i> Correo electrónico:
          <a>nicolas.osorio@utp.edu.co</a>
        </p>
        <p class="contact-item">
          <i class="fas fa-phone"></i> Teléfono: +57 317 804 8900
        </p>
        <p class="contact-item">
          <i class="fab fa-github"></i> GitHub:
          <a href="https://github.com/OsorioCODE01" target="_blank"
            >github.com/OsorioCODE01</a
          >
        </p>
        <p class="contact-item">
          <i class="fab fa-linkedin"></i> LinkedIn:
          <a
            href="https://www.linkedin.com/in/nicolas-osorio-galvis-939780223/"
            target="_blank"
            >linkedin.com/in/nicolas-osorio-galvis</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
