<div class="container d-flex align-items-center justify-content-center h-100">
  <mat-card class="login-card">
    <h2 class="text-center mb-4">INICIAR SESIÓN</h2>
    <div class="d-flex justify-content-center mb-3 LogoContainer">
      <!-- Aquí puedes agregar la imagen circular de usuario -->
      <img src="https://i.imgur.com/wU9poBZ.png" alt="" class="UserLogo" />
    </div>

    <form [formGroup]="FormLogin" class="Login" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <mat-form-field class="w-100">
          <mat-label>Num Documento</mat-label>
          <input type="number" matInput formControlName="idCliente" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100">
          <mat-label>Contraseña</mat-label>
          <input
            type="{{ hidePassword ? 'password' : 'text' }}"
            matInput
            formControlName="contrasena"
          />
          <button
            mat-icon-button
            matSuffix
            aria-label="Toggle password visibility"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="register-button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="FormLogin.invalid"
        >
          INICIAR SESIÓN
        </button>
      </div>
    </form>
    <div class="text-center mt-3">
      ¿No tienes una cuenta?
      <a [routerLink]="['/registro-cliente']">Registrarse</a>
    </div>
  </mat-card>
</div>
