<div class="full-page-container">
  <div class="intro-container">
    <div class="intro-content">
      <h1 class="intro-title">
        Bienvenido al Sistema Gestor de Reservas de Hoteles
      </h1>
      <p class="intro-description">
        Con nuestro sistema, puedes gestionar de manera eficiente las reservas
        en diferentes hoteles y brindar una experiencia excepcional a tus
        clientes.
      </p>
      <button class="intro-button" [routerLink]="['/login']">
        Iniciar Sesión
      </button>
    </div>
  </div>
</div>
